@font-face {
  font-family: "Philosopher";
  src: url("../fonts/Philosopher-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Philosopher";
  src: url("../fonts/Philosopher-Bold.ttf") format("truetype");
  font-weight: bold;
}