@import "./fonts";

$color-background-header: #000;
$color-text-header: #FFF;

body{
  height: 100vh;
  font-family: Philosopher;
}

.wrapper{
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  height: 100%;
  margin: auto;
  padding: 10px 0;
}

header {
  background-color: $color-background-header;
  height: 112px;

  .logo{
    color: $color-text-header;
    font-size: 26px;
    line-height: 28px;
    padding: 26px 0;
    width: 25%;

    span{
      font-size: 36px;
      font-weight: bold;
      background: linear-gradient(140deg, #00b7c1 30%, #d5df27 60%, #3ab248);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

main{
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  border: #000000 solid 1px;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
}

section{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

form{
  width: 80%;
  margin: 20px auto;
}

@media (max-width: 576px){
  body{
    height: auto;
  }

  .wrapper{
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
  }

  header {
    .logo{
      width: 90%;
    }
  }

  main{
    flex-direction: column-reverse;
    border: none;
  }

  section{
    margin: 0;
  }

  form{
    width: 90%;
    margin: 10px auto;
  }

  h2{
    margin: 0 auto;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .wrapper{
    padding: 0;
  }

  header {
    .logo{
      width: 30%;
    }
  }

  main{
    border: none;
  }

  form{
    width: 90%;
    margin: 10px auto;
  }
}

@media (max-width: 992px) and (orientation: landscape){
  body{
    height: auto;
  }
}





